Package: libtommath
Version: 0.42.0-1
Depends: libc
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/libtommath
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 39353
Description:  libtommath is a c based math library
