Package: netifd
Version: 2013-05-13-bc4a4bb127622c76085ecec7fd20448aad7bafaf
Depends: libuci, libnl-tiny, libubus, ubus, ubusd, jshn, kmod-bonding
Provides: 
Source: opensource/opensource/netifd
Section: base
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 59540
Description:  OpenWrt Network Interface Configuration Daemon
