Package: libnetfilter-queue
Version: 1.0.2-1
Depends: libmnl, libnfnetlink
Provides: 
Source: opensource/opensource/libnetfilter-queue
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 7072
Description:  libnetfilter_queue is a userspace library providing a programming
 interface (API) to the in-kernel connection tracking state table.
 This library is currently used by conntrack-tools.
