Package: libnetfilter-conntrack
Version: 1.0.3-1
Depends: libc, libnfnetlink, kmod-nf-conntrack-netlink, libmnl
Source: package/libs/libnetfilter-conntrack
Section: libs
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: octeon
Installed-Size: 38571
Description:  libnetfilter_conntrack is a userspace library providing a programming
 interface (API) to the in-kernel connection tracking state table. The
 library libnetfilter_conntrack has been previously known as
 libnfnetlink_conntrack and libctnetlink. This library is currently
 used by conntrack-tools among many other applications.
