Package: firewall
Version: 2-55.1
Depends: libc, iptables, kmod-ipt-conntrack, kmod-ipt-nat
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/firewall
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Jo-Philipp Wich <xm@subsignal.org>
Architecture: all
Installed-Size: 16400
Description:  UCI based firewall for OpenWrt
