Package: libtomcrypt
Version: 1.17-1
Depends: libc, libtommath
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/libtomcrypt
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 280737
Description:  libtommath is a c based crypt library
