Package: mtd
Version: 20
Depends: libubox
Provides: 
Source: opensource/opensource/mtd
Section: utils
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 11440
Description:  This package contains an utility useful to upgrade from other firmware or 
 older OpenWrt releases.
