Package: libubus-lua
Version: 2015-05-25-f361bfa5fcb2daadf3b160583ce665024f8d108e
Depends: libubus, liblua
Provides: 
Source: opensource/ibase/ubus
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 6344
Description:  Lua binding for the OpenWrt RPC client
