Package: wxgtk
Version: 2.8.12-1
Depends: libc, zlib, libstdcpp, libpthread
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/wxgtk
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 819345
Description:  wxgtk is a c++ based library for amule
