Package: iputils-ping6
Version: 20101006-1
Depends: libopenssl
Provides: 
Source: opensource/opensource/iputils
Section: ipv6
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 17755
Description:  ping6 is a icmp tool for IPv6.
