Package: liblzo
Version: 2.06-1
Depends: 
Provides: 
Source: opensource/opensource/lzo
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 33711
Description:  LZO is a data compression library which is suitable for data de-/compression
 in real-time. This means it favours speed over compression ratio.
