Package: veth
Version: 1.0-1
Depends: libc, kmod-tun
Source: feeds/oldpackages/net/veth
Section: net
Architecture: octeon
Installed-Size: 5154
Description:  VETH is a daemon that virtualizes a ethernet card in Linux.
 The virtualization is done via Universal TUN/TAP Driver.
