Package: ubox
Version: 2014-03-27-1d9d2e6ae99c9ba72d1bc40e554d5f422c9b9196
Depends: libubox, ubusd, ubus, libuci
Provides: 
Source: opensource/opensource/ubox
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 24154
Description:  OpenWrt system helper toolbox
