Package: uhttpd-mod-ubus
Version: 2012-10-30-e57bf6d8bfa465a50eea2c30269acdfe751a46fd
Depends: libc, uhttpd, libubus, libblobmsg-json
Provides: 
Source: /home/ubuntu/Archer_C7_V5/ibase/uhttpd
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 7260
Description:  The ubus plugin adds a HTTP/JSON RPC proxy for ubus and publishes the
 session.* namespace and procedures.
