Package: iptables-mod-extra
Version: 1.4.21-1
Depends: iptables, kmod-ipt-extra
Provides: 
Source: opensource/opensource/iptables
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 161
Description:  Other extra iptables extensions.
 
 Matches:
 - addrtype
 - condition
 - owner
 - physdev (if ebtables is enabled)
 - pkttype
 - quota
 
