Package: mtd-utils-ubirsvol
Version: 2.1.2-1
Depends: libc, mtd-utils, librt
Source: feeds/oldpackages/utils/mtd-utils
Section: utils
Architecture: octeon
Installed-Size: 12271
Description:  ubirsvol package from mtd-utils
