Package: mtd-utils-nandwrite
Version: 2.1.2-1
Depends: libc, mtd-utils, librt
Source: feeds/oldpackages/utils/mtd-utils
Section: utils
Architecture: octeon
Installed-Size: 17469
Description:  nandwrite package from mtd-utils
