Package: firewall
Version: 2-55.1
Depends: iptables, kmod-ipt-conntrack, kmod-ipt-nat
Provides: 
Source: opensource/opensource/firewall
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Jo-Philipp Wich <xm@subsignal.org>
Architecture: all
Installed-Size: 16231
Description:  UCI based firewall for OpenWrt
