Package: block-mount
Version: 2015-02-25-4b68e9f9ea894bf58d31e26ca5ed92c81b1a115e
Depends: ubox, libubox, libuci
Provides: 
Source: opensource/opensource/fstools
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 19014
Description:  Block device mounting and checking
