Package: libnetfilter-cttimeout
Version: 1.0.0-1
Depends: libmnl
Provides: 
Source: opensource/opensource/libnetfilter-cttimeout
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 4141
Description:  libnetfilter_cttimeout is a userspace library providing a programming
 interface (API) to the in-kernel connection tracking timeout handling.
 This library is currently used by conntrack-tools.
