Package: libuci
Version: 2015-08-27.1-1
Depends: libubox
Provides: 
Source: opensource/ibase/uci
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 16224
Description:  C library for the Unified Configuration Interface (UCI)
