Package: libiwinfo-lua
Version: 36
Depends: libiwinfo, liblua, lua
Provides: 
Source: opensource/opensource/iwinfo
Section: lang
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Jo-Philipp Wich <xm@subsignal.org>
Architecture: model_bcm_bcm675x
Installed-Size: 6641
Description:  This is the Lua binding for the iwinfo library. It provides access to all enabled
 backends.
