Package: pppoe-discovery
Version: 3.8p
Depends: libc
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/pppoe-discovery
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Ye Qianchuan <yeqianchuan@tp-link.net>
Architecture: ar71xx
Installed-Size: 5754
Description:  pppoe discovery
