Package: kmod-qca-ssdk-hnat
Version: 3.3.8+g-1
Depends: kernel (=3.3.8-1-64987be72b2a623a463adb8a9e815d1b)
Provides: qca-ssdk
Source: package/qca-ssdk
Section: kernel
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 224238
Description:  Kernel driver for QCA SSDK (hnat)
