Package: libcurl
Version: 7.40.0-3.2
Depends: libopenssl
Provides: 
Source: opensource/opensource/curl
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Imre Kaloz <kaloz@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 118796
Description:  A client-side URL transfer library
