Package: ubusd
Version: 2015-05-25-f361bfa5fcb2daadf3b160583ce665024f8d108e
Depends: libubox
Provides: 
Source: opensource/ibase/ubus
Section: base
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 7590
Description:  OpenWrt RPC daemon
