Package: libnl-tiny
Version: 0.1-3
Depends: libc
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/libnl-tiny
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 12922
Description:  This package contains a stripped down version of libnl
