Package: pppoe-discovery
Version: 3.8p
Depends: 
Provides: 
Source: opensource/opensource/pppoe-discovery
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Ye Qianchuan <yeqianchuan@tp-link.net>
Architecture: model_bcm_bcm675x
Installed-Size: 6150
Description:  pppoe discovery
