Package: uci
Version: 2015-08-27.1-1
Depends: libuci
Provides: 
Source: opensource/ibase/uci
Section: base
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 7368
Description:  Utility for the Unified Configuration Interface (UCI)
