Package: iconv
Version: 1.11.1-1
Depends: libc, libiconv-full, libcharset
Source: package/libs/libiconv-full
Section: utils
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: octeon
Installed-Size: 11396
Description:  Character set conversion utility
