Package: ip
Version: 3.3.0-1
Depends: 
Provides: 
Source: opensource/opensource/iproute2
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 97586
Description:  Routing control utility
