Package: libpthread
Version: -1
Depends: libgcc
Provides: 
Source: opensource/opensource/toolchain
Section: libs
Status: unknown hold not-installed
Essential: yes
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 125
Description:  POSIX thread library
