Package: swconfig
Version: 10
Depends: libc, libuci, libnl-tiny
Provides: 
Source: package/swconfig
Section: base
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 7507
Description:  Switch configuration utility
