Package: curl
Version: 7.29.0-1
Depends: libc, libcurl
Provides: 
Source: package/curl
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 43485
Description:  A client-side URL transfer utility
