Package: liblogger
Version: 1.0
Depends: libc, libuci, libiconv-full
Source: package/logger
Section: TP-LINK
Maintainer: TP-LINK
Architecture: octeon
Installed-Size: 2288
Description:  Sytem Log libs
