Package: mtd-utils-ubidetach
Version: 2.1.2-1
Depends: libc, mtd-utils, librt
Source: feeds/oldpackages/utils/mtd-utils
Section: utils
Architecture: octeon
Installed-Size: 11354
Description:  ubidetach package from mtd-utils
