Package: luci-base
Version: 0.12+unknown-1
Depends: libc, lua, libuci-lua, libubus-lua
Source: feeds/luci/contrib/package/luci
Section: luci
Maintainer: LuCI Development Team <luci@lists.subsignal.org>
Architecture: octeon
Installed-Size: 118449
Description:  LuCI core libraries
