Package: libcyassl
Version: 3.8.0-2
Depends: 
Provides: 
Source: opensource/opensource/cyassl
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 121875
Description:  CyaSSL is an SSL library optimized for small footprint, both on disk and for
 memory use.
