Package: sshpass
Version: 1.0.6-1
Depends: 
Provides: 
Source: opensource/opensource/sshpass
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 4885
Description:  SSHpass offers you the ability to automatically offer a password via SSH when you are prompted for it.
