Package: ddns-scripts
Version: 1.0.0-21
Depends: libc, log, dnslookup
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/ddns-scripts
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: all
Installed-Size: 11163
Description:  A highly configurable set of scripts for doing
 dynamic dns updates
