Package: mtd-utils-ubicrc32
Version: 2.1.2-1
Depends: libc, mtd-utils, librt
Source: feeds/oldpackages/utils/mtd-utils
Section: utils
Architecture: octeon
Installed-Size: 4053
Description:  ubicrc32 package from mtd-utils
