Package: kmod-ipt-account
Version: 3.10.49+2.3-1
Depends: kernel (=3.10.49-1-050f6efca73e5de1f972d512a9865dcb), kmod-ipt-core, kmod-ipt-compat-xtables
Source: package/network/utils/xtables-addons
Section: kernel
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: octeon
Installed-Size: 8946
Description:  ACCOUNT netfilter module
