Package: busybox
Version: 1.22.1-3
Depends: common, ubus, libubus, libubox, libblobmsg-json, libuci, uci
Provides: 
Source: opensource/opensource/busybox
Section: TP-LINK
Status: unknown ok not-installed
Essential: yes
Priority: optional
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 232159
Description:  The Swiss Army Knife of embedded Linux.
 It slices, it dices, it makes Julian Fries.
