Package: libnl-tiny
Version: 0.1-3
Depends: 
Provides: 
Source: opensource/opensource/libnl-tiny
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 12644
Description:  This package contains a stripped down version of libnl
