Package: libssh
Version: 0.7.3-1
Depends: libpthread, librt, zlib, libopenssl
Provides: 
Source: opensource/opensource/libssh
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Luka Perkov <luka@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 128091
Description:  libssh is a mulitplatform C library implementing the SSHv2 and SSHv1 protocol
 for client and server implementations.
