Package: gdb
Version: 7.5-1
Depends: libc, libthread-db, zlib, libreadline, libncurses, zlib
Source: package/devel/gdb
Section: devel
Architecture: octeon
Installed-Size: 1990079
Description:  GDB, the GNU Project debugger, allows you to see what is going on `inside'
 another program while it executes -- or what another program was doing at the
 moment it crashed.
