Package: libcap
Version: 2.22-1
Depends: 
Provides: 
Source: opensource/opensource/libcap
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 5514
Description:  Linux capabilities library
