Package: libustream-openssl
Version: 2020-06-18-40b563b1ea89dabb2b6cd90644908134a0c8eff2
Depends: libubox, libopenssl, libopenssl
Provides: 
Source: opensource/opensource/ustream-ssl
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 4208
Description:  ustream SSL Library (openssl)
