Package: libip6tc
Version: 1.4.21-1
Depends: 
Provides: 
Source: opensource/opensource/iptables
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 10939
Description:  IPv6 firewall - shared libiptc library
