Package: qca-legacy-uboot-factory-c7v4
Version: g-1
Depends: libc
Provides: 
Source: package/qca-legacy-uboot-factory
Section: boot
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 105
Description:  factoty-boot for c7v4
