Package: improxyvnet
Version: 1.0-1
Depends: libc
Source: package/network/services/improxy
Section: net
Architecture: octeon
Installed-Size: 378
Description:  Improxy is an IGMP/MLD Proxy daemon written in c for Linux. It is lightweight and do not depend on any thirdparty library.
