Package: libwebsockets-mbedtls
Version: 3.0.1-1
Depends: zlib, libcap, libmbedtls
Provides: libwebsockets
Source: opensource/opensource/libwebsockets
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Karl Palsson <karlp@etactica.com>
Architecture: model_bcm_bcm675x
Installed-Size: 86371
Description:  libwebsockets (mbedTLS)
