Package: luci-lib-web
Version: unknown-1
Depends: luci-lib-core, luci-lib-sys, luci-lib-nixio, luci-lib-core, luci-sgi-cgi
Provides: 
Source: opensource/ibase/luci
Section: luci
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: LuCI Development Team <luci@lists.subsignal.org>
Architecture: model_bcm_bcm675x
Installed-Size: 59850
Description:  MVC Webframework
