Package: libuci-lua
Version: 2013-01-04.1-1
Depends: libc, libuci, liblua
Provides: 
Source: /home/ubuntu/Archer_C7_V5/ibase/uci
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 6243
Description:  Lua plugin for UCI
