Package: zlib
Version: 1.2.8-1
Depends: 
Provides: 
Source: opensource/opensource/zlib
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 39499
Description:  Library implementing the deflate compression method
