Package: improxy
Version: 1.0-1
Depends: libc
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/improxy
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 22281
Description:  Improxy is an IGMP/MLD Proxy daemon written in c for Linux. It is lightweight and do not depend on any thirdparty library.
