Package: uhttpd-mod-ubus
Version: 2015-11-08-fe01ef3f52adae9da38ef47926cd50974af5d6b7
Depends: uhttpd, libubus, libblobmsg-json
Provides: 
Source: opensource/ibase/uhttpd
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 6193
Description:  The ubus plugin adds a HTTP/JSON RPC proxy for ubus and publishes the
 session.* namespace and procedures.
