Package: dnsmasq
Version: 2.62-2
Depends: 
Provides: 
Source: opensource/opensource/dnsmasq
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 47970
Description:  It is intended to provide coupled DNS and DHCP service to a LAN.
