#
# Basic var for special product
#

# SDK
SDK_NAME:=hisi_sdk_v300
SDK_VERSION:="1\.0\.1\.2"
SDK_ROOT_DIR:=$(SDK_DIR)/$(SDK_NAME)
SDK_BUILD_DIR:=$(SDK_ROOT_DIR)/osdrv
SDK_TOOLS_PATH:=$(SDK_ROOT_DIR)/osdrv/pub/bin/pc
SDK_UBOOT_DIR:=$(SDK_ROOT_DIR)/osdrv/opensource/uboot/u-boot-2016.11
SDK_KERNEL_DIR:=$(SDK_ROOT_DIR)/osdrv/opensource/kernel/linux-4.9.y
SDK_ROOTFS_DIR:=$(SDK_ROOT_DIR)/osdrv/pub
SDK_BOARD_TYPE:=hi3518ev300
SDK_IMAGE_DIR:=$(SDK_ROOTFS_DIR)/$(SDK_BOARD_TYPE)_spi_image_uclibc
SDK_TARGET_XLSM:=Hi3518EV300-DMEB_2L-DDR2_1200M_64MB_16bit.xlsm
SDK_SENSOR_LIB_NAME:=$(shell grep CONFIG_SENSOR_LIBNAME= $(CONFIG_DIR)/iplatform.config | cut -d= -f2 | cut -d\" -f2)
SDK_SENSOR_LIB_PATH:=$(wildcard $(SDK_ROOT_DIR)/mpp/component/isp/user/sensor/hi3516ev200/*$(SDK_SENSOR_LIB_NAME))

# Toolchain
TOOLCHAIN_NAME:=arm-himix100-linux
TOOLCHAIN_PREFIX:=arm-himix100-linux-

SDK_FLAGS:=OSDRV_CROSS=$(TOOLCHAIN_NAME) CHIP=$(SDK_BOARD_TYPE) BUILD_TAG= KCFLAGS="-DGPIO_LED_GREEN_ACTIVE_LOW=0 -DGPIO_LED_RED_ACTIVE_LOW=0"

# export Toolchain PATH
export TOOLCHAIN_ROOT_DIR:=$(TOOLCHAIN_DIR)/$(SDK_NAME)
TOOLCHAIN_EXPORT_PATH:=$(TOOLCHAIN_ROOT_DIR)/$(TOOLCHAIN_NAME)/bin
export ORIGINAL_PATH:=$(PATH)
export PATH:=$(ORIGINAL_PATH):$(TOOLCHAIN_EXPORT_PATH):$(SDK_TOOLS_PATH)

# fix kernel's vermagic
export LOCALVERSION=

# Image
IMAGE_BASE_ROOTFS_DIR:=$(IMAGE_DIR)/rootfs
IMAGE_SERVICE_PKG_FS_DIR:=$(IMAGE_DIR)/service-pkg-fs
IMAGE_NAME_PREFIX=EC60

