Package: sysstat
Version: 10.1.7-1
Depends: 
Provides: 
Source: opensource/opensource/sysstat
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 157292
Description:  The sysstat utilities are a collection of performance monitoring tools for
 Linux. These include sar, sadf, mpstat, iostat, pidstat and sa tools.
