Package: ip
Version: 3.3.0-1
Depends: libc, libnl-tiny
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/iproute2
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 90819
Description:  Routing control utility
