Package: bridge
Version: 1.5-1
Depends: 
Provides: 
Source: opensource/opensource/bridge-utils
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 11274
Description:  Manage ethernet bridging: a way to connect networks together to 
 form a larger network.
