Package: libncurses
Version: 5.7-5
Depends: libc, terminfo
Provides: 
Source: package/ncurses
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 115916
Description:  Terminal handling library
