Package: libjson
Version: 0.11-2
Depends: libc, libjson-c
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/libjson-c
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 1008
Description:  This package contains a library for javascript object notation backends.
