Package: luasec
Version: 0.4-1
Depends: libc, lua, libopenssl, luasocket
Source: feeds/packages/lang/luasec
Section: lang
Maintainer: W. Michael Petullo <mike@flyn.org>
Architecture: octeon
Installed-Size: 16478
Description:  LuaSec is a binding for OpenSSL library to provide TLS/SSL communication.
