Package: pppd
Version: 2.4.3-8
Depends: kmod-ppp, kmod-pptp, kmod-pppoe, resolveip
Provides: 
Source: opensource/opensource/pppd
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 128996
Description:  This package contains the PPP (Point-to-Point Protocol) daemon for PPPoE, L2TP and PPTP.
