Package: luci-lib-web
Version: 0.11.1-1
Depends: libc, luci-lib-core, luci-lib-sys, luci-lib-nixio, luci-lib-core, luci-sgi-cgi
Provides: 
Source: /home/ubuntu/Archer_C7_V5/ibase/luci
Section: luci
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: LuCI Development Team <luci@lists.subsignal.org>
Architecture: ar71xx
Installed-Size: 64906
Description:  MVC Webframework
