Package: luci-lib-nixio
Version: unknown-1
Depends: luci-lib-core
Provides: 
Source: opensource/ibase/luci
Section: luci
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: LuCI Development Team <luci@lists.subsignal.org>
Architecture: model_bcm_bcm675x
Installed-Size: 31308
Description:  NIXIO POSIX library
