Package: flock
Version: 2.24.1-1
Depends: libc
Source: package/utils/util-linux
License: GPLv2 LGPLv2.1 BSD-3c
LicenseFiles: COPYING getopt/COPYING libblkid/COPYING libmount/COPYING Documentation/licenses/COPYING.GPLv2 Documentation/licenses/COPYING.LGPLv2.1 libuuid/COPYING Documentation/licenses/COPYING.BSD-3
Section: utils
Architecture: octeon
Installed-Size: 11119
Description:  manages flock locks from within shell scripts or the command line
