Package: procd
Version: 2015-10-29.1-d5fddd91b966424bb63e943e789704d52382cc18
Depends: ubusd, ubus, libjson-script, ubox, librt, libubox, libubus
Provides: 
Source: opensource/opensource/procd
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 37097
Description:  OpenWrt system process manager
