Package: libjson
Version: 0.11-2
Depends: libjson-c
Provides: 
Source: opensource/opensource/libjson-c
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 1541
Description:  This package contains a compatibility library for packages that have not
 been adapted to the json-c library rename yet
