Package: xl2tpd
Version: 1.1.12-1
Depends: pppd, kmod-pppol2tp, kmod-ppp, ip, resolveip
Provides: 
Source: opensource/opensource/xl2tpd
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 41979
Description:  l2tpd is the open source implementation of the L2TP tunneling protocol (RFC2661).
 It does implement both LAC and LNS role in a L2TP networking architecture. The
 main goal of this protocol is to tunnel PPP frame trough an IP network.
