Package: mtd-utils-ubinfo
Version: 2.1.2-1
Depends: libc, mtd-utils, librt
Source: feeds/oldpackages/utils/mtd-utils
Section: utils
Architecture: octeon
Installed-Size: 13704
Description:  ubinfo package from mtd-utils
