Package: uhttpd
Version: 2015-11-08-fe01ef3f52adae9da38ef47926cd50974af5d6b7
Depends: libubox, libblobmsg-json, libjson-script
Provides: 
Source: opensource/ibase/uhttpd
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_bcm_bcm675x
Installed-Size: 24195
Description:  uHTTPd is a tiny single threaded HTTP server with TLS, CGI and Lua
 support. It is intended as a drop-in replacement for the Busybox
 HTTP daemon.
