Package: bridge
Version: 1.5-1
Depends: libc
Provides: 
Source: /home/ubuntu/Archer_C7_V5/iplatform/opensource/bridge-utils
Section: TP-LINK
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 9646
Description:  Manage ethernet bridging: a way to connect networks together to 
 form a larger network.
